{% set blocks = dict() %}
{% for page in pages %}
{% if page.type == "block" and page.title in BLOCKS_ORDER %}
{% set _ = blocks.update({page.title: page.content}) %}
{% endif %}
{% endfor %}
{% if blocks %}
{% for block in BLOCKS_ORDER %}
<div>
  <h5>{{ blocks[block].title }}</h5>
  <hr />
  {{ blocks[block].content }}
</div>
{% endfor %}
{% else %}
<div>
  <h5>Sample block</h5>
  <hr />
  <p>
    This is a sample block, which will be removed when you create and configure actual blocks.
  </p>
{% endif %}
