{% extends "index.html" %}
{% block content %}
<h3>{{ category|title }}</h3>
<hr />
{% for article in articles_page.object_list %}
<div class="card" >
  <div class="card-body">
    <div class="card-title">
      <a href="{{ SITEURL }}/{{ article.url }}" class="text-decoration-none text-dark">
        <h4>{{ article.title }}</h4>
      </a>
    </div>
    <div class="card-subtitle text-muted">
      {{ article.date.strftime("%a %d %b %Y") }} by <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
    </div>
    <div class="card-text">
      <p>{{ article.summary }}<a href="{{ SITEURL }}/{{ article.url }}">Read more</a></p>
    </div>
  </div>
</div>
{% endfor %}
{% include "pagination.html" %}
{% endblock %}
