<div class="row mt-2">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item{% if not articles_page.has_previous() %} disabled{% endif %}">
        <a class="page-link" href="{% if articles_page.has_previous() %}{{ SITEURL }}/{{ articles_previous_page.url }}{% else %}#{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
      <li class="page-item{% if num == articles_page.number %} disabled fw-bold{% endif %}">
        <a class="page-link" href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">
          {{ num }}
        </a>
      </li>
      {% endfor %}
      <li class="page-item{% if not articles_page.has_next() %} disabled{% endif %}">
        <a class="page-link" href="{% if articles_page.has_next() %}{{ SITEURL }}/{{ articles_next_page.url }}{% else %}#{% endif %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
